<div class="w-full p-4 relative">
  <div class="flex justify-between items-center">
    <div class="flex justify-start cursor-pointer" routerLink="">
      <img src="assets/yourcaryourway.png" alt="Logo" class="h-12">
    </div>
    <div class="md:hidden z-50">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>
  </div>
  <hr class="border-black my-2">
  <div *ngIf="isMenuOpen" class="md:hidden grid grid-rows-12 h-screen fixed top-0 left-0 w-full bg-white z-40">
  </div>
</div>
